export(series_descstat)
export(series_nonlinearity)
export(series_stationarity)
export(ariga)
export(my_ann)
export(my_svr)
import(tseries)
import(dplyr)
import(psych, except=kurtosis)
import(forecast)
import("fGarch", except=formula)
import("aTSA", except=c(forecast,pp.test,kpss.test, adf.test,ts.diag))
import("stats", except=c(filter, lag, fitted,predict,coef, residuals,update))
import("neuralnet", except=compute)
import(e1071)
importFrom("AllMetrics", "all_metrics")
importFrom("DescribeDF", "df_descstat", "df_nonlinearity", "df_stationarity")
importFrom("FinTS", "ArchTest")
